<!doctype html>
<html lang="en">
  {{> resources }}
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      
      {{> header}}

      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="featured">
      
          <!-- for each events -->
          <div id="app-shell-events">
          {{#each eventList }}
            {{> events }}
          {{/each}}
          </div>

        </div>
        
        {{> footer}}

      </main>
    </div>

    <script src="vendor/handlebars.runtime.min.js"></script>
    <script src="templates/events.template.js"></script>
    <script src="vendor/system.js"></script>
    <script src="js/app.system-config.js"></script>
    <script>
      System.import('app/app.event').then(app => {
        const eventPage = app.EventPage.create();
        eventPage.join();
      });
    </script>
  </body>
</html>