<!doctype html>
<html lang="en">
  {{> resources }}
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      
      {{> header}}

      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="featured">
      
          <!-- for each events -->
          <div id="app-shell-events">
          {{#each eventList }}
            {{> events }}
          {{/each}}
          </div>

        </div>
        
        {{> footer}}

      </main>
    </div>

    <script src="vendor/handlebars.runtime.min.js"></script>
    <script src="templates/events.template.js"></script>
    <script src="vendor/system.js"></script>
    <script src="js/app.system-config.js"></script>
    <script>
      
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('sw.js', {scope: '/'}).then(reg => {
          const installWorker = reg.install;
          const waitingWorker = reg.waiting;

          console.log('ðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥');
          
          if(!navigator.serviceWorker.controller) { return; }

          if (waitingWorker) {
            updateReady();
            return;
          }

          if (installWorker) {
            trackInstall(installWorker);  
          }

          reg.addEventListener('updatefound', function() {
            trackInstall(reg.installing);
          });

        }).catch(e => {
          console.error('ðŸ³ðŸ³ðŸ³ðŸ³', e);
          throw e;
        });

        function updateReady() {
          console.log('update is ready');
        }

        function trackInstall(worker) {
          if (worker.state == 'installed') {
            // update is ready
            updateReady();
            return;
          }
        }



      }
      
      
      System.import('app').then(app => {
        const mainPage = app.MainPage.create();
        mainPage.listenForFeaturedEvents();
      });
    </script>
  </body>
</html>